$maincolor: #fefcf2;
$secondcolor: #0b1723;
// это цвета из https://thingstoken.io/ru
// скругления такие же с тенями
@mixin radialborder-shadow {
  border-radius: 30px;
  border: 1px solid #000;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.5);
}
* {
  box-sizing: border-box;
}
body {
  font-family: "TildaSans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: $maincolor;
  font-size: 16px;
  @media screen and (max-width: 590px) {
    font-size: 12px;
  }
  @media screen and (max-width: 540px) {
    font-size: 11px;
  }
}
.wrapper {
  width: 50%;
  margin: 0 auto;
  @media screen and (max-width: 426px) {
    width: 70%;
  }
}
p,
h1,
h2,
h3 {
  color: $secondcolor;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
h1 {
  font-size: 1.8em;
  font-weight: 900;
}
h2 {
  font-size: 1.3em;
  font-weight: 600;
  @media screen and (max-width: 450px) {
    font-size: 1em;
  }
}
.givers-collapsed {
  height: 80px !important;
  transition: all 0.2s ease;
  @media screen and (max-width: 590px) {
    height: 70px !important;
  }
  @media screen and (max-width: 540px) {
    height: 65px !important;
  }
  @media screen and (max-width: 480px) {
    height: 66px !important;
  }
  @media screen and (max-width: 400px) {
    height: 63px !important;
  }
  h2 {
    @media screen and (max-width: 480px) {
      font-size: 1.1em;
    }
    @media screen and (max-width: 450px) {
      font-size: 1em;
    }
  }
}

.main {
  margin-top: 100px;
  &-info {
    text-align: center;
    h1 {
      margin-bottom: 30px;
    }
  }

  .burnt-tokens,
  .mining-tokens {
    &-cont {
      margin-top: 50px;
    }
    &__percentile-cont {
      display: flex;
      justify-content: flex-end;
    }
    &__count-cont {
      display: flex;
      justify-content: center;
      margin-top: 5px;
    }
    &-line__cont {
      border: 1px solid #000;
      border-radius: 30px;
      height: 13px;
      //   overflow: hidden;
    }
    &-line__fill {
      width: 0%;
      border-radius: 30px;
      background: $secondcolor;
      height: 100%;
      transition: width 0.2s ease;
      position: relative;
      &::after {
        content: "\1F525";
        z-index: 100;
        position: absolute;
        top: 50%;
        right: -17px;
        transform: translate(-50%, -50%);
        @media screen and (max-width: 590px) {
          right: -12px;
        }
        @media screen and (max-width: 540px) {
          right: -10px;
        }
      }
    }
  }
  .mining-tokens {
    &__percentile-cont{
      justify-content: space-between;

    }
    &__total-wallets__span{
      color: #000;
    }
    &__p{
      color:#c14848
    }
    &-line__fill {
      // width: 30%;
      background: #ede67e;
      &::after {
        content: "";
        background: url('../img/thgnp.png');
        height: 17px;
        width: 17px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    
      }
    }
  }
  .giver {
    &s {
      //givers
      &-list {
        display: flex;
        flex-direction: column;
      }
      &-container {
        background: #fff;
        padding: 30px;
        @include radialborder-shadow;
        margin-top: 50px;
        position: relative;
        overflow: hidden;
        transition: all 0.2s ease;
        &:last-child {
          margin-bottom: 50px;
        }

        &.lottery {
          width: 100%;
        }
        .btn-collapse {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          outline: none;
          border: none;
          background: #fff;
          border: 1px solid #000;
          color: #000;
          transform: rotate(90deg);
          font-size: 1.6em;
          &::after {
            content: ">";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
          &:hover {
            background: #bfbfbf;
            cursor: pointer;
          }
          @media screen and (max-width: 480px) {
            height: 23px;
            width: 23px;
          }
          @media screen and (max-width: 400px) {
            font-size: 1.3em;
            height: 18px;
            width: 18px;
          }
        }
      }
      &-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
      }
    }
    &-card {
      position: relative;
      font-size: 1.1em;
      margin-bottom: 70px;
      @media screen and (max-width: 423px) {
        font-size: 1em;
        margin-bottom: 40px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-info {
      a {
        font-weight: 600;
        text-decoration: none;
        position: relative;

        &:hover {
          text-decoration: underline;
          //::after elem underline?
        }
      }
    }
    &-text {
      margin: 10px 0;
      &-cont {
        margin-top: 15px;
      }
    }
    &-ratio {
      // width:50%;
      &__percents {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 8px;
        font-size: 0.8em;
      }
      &__line-cont {
        border: 1px solid #000;
        border-radius: 30px;
        height: 10px;
        overflow: hidden;
      }
      &__line-fill {
        width: 0%;
        border-radius: 30px;
        background: #0b1723;
        height: 100%;
        transition: width 0.2s ease;
      }
    }
  }
}

.preload {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $secondcolor;
  animation: preloadremove 0.4s ease-in-out 1 forwards;
  animation-delay: 5s;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    animation: preload 1s ease infinite;
  }
}

@keyframes preloadremove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
    display: none;
  }
}
@keyframes preload {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
